@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 38, 50, 56;
  --background-start-rgb: 245, 245, 247;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}